/************************************
    FOR NAVIGATION BAR
**************************************/
@media only screen and (min-width:320px){
#click:checked ~.nav-items{
	transform:translateX(4%);
}
.home-print{
	left:23vw;
}

}


@media only screen and (min-width:326px){
#click:checked ~.nav-items{
	transform:translateX(4%);
	
}

}

@media only screen and (min-width:332px){
#click:checked ~.nav-items{
	transform:translateX(7%);
	
}

}

@media only screen and (min-width:338px){
#click:checked ~.nav-items{
	transform:translateX(11%);
	
}

}

@media only screen and (min-width:344px){
#click:checked ~.nav-items{
	transform:translateX(14%);
	
}

}

@media only screen and (min-width:350px){
#click:checked ~.nav-items{
	transform:translateX(17%);
}
.Packages img{
	    width: 17rem;
    height: 23rem;
}
}

@media only screen and (min-width:356px){
#click:checked ~.nav-items{
	transform:translateX(20%);
	
}

}

@media only screen and (min-width:362px){
#click:checked ~.nav-items{
	transform:translateX(24%);
	
}

}

@media only screen and (min-width:368px){
#click:checked ~.nav-items{
	transform:translateX(27%);
	
}

}

@media only screen and (min-width:374px){
#click:checked ~.nav-items{
	transform:translateX(30%);
	
}

}

@media only screen and (min-width:380px){
#click:checked ~.nav-items{
	transform:translateX(34%);
	
}

}

@media only screen and (min-width:386px){
#click:checked ~.nav-items{
	transform:translateX(37%);
}
.Packages img{
	    width: 18rem;
    height: 24rem;
}
}

@media only screen and (min-width:392px){
#click:checked ~.nav-items{
	transform:translateX(41%);
}
.home-print{
	left:25vw;
}
}

@media only screen and (min-width:398px){
#click:checked ~.nav-items{
	transform:translateX(44%);
}


}

@media only screen and (min-width:404px){
#click:checked ~.nav-items{
	transform:translateX(48%);
}


}

@media only screen and (min-width:410px){
#click:checked ~.nav-items{
	transform:translateX(50%);
}


}

@media only screen and (min-width:416px){
#click:checked ~.nav-items{
	transform:translateX(54%);
	
}

}

@media only screen and (min-width:422px){
#click:checked ~.nav-items{
	transform:translateX(57%);
}
}

@media only screen and (min-width:426px){
#click:checked ~.nav-items{
	transform:translateX(57%);
}
.home-print{
   top: 23dvh;
    left: 27dvw;
}
 .background-image{
	height:53vh;
}

.main-home-print{
	height:53vh;
}
.all-about h1{
	margin: 0px 34dvw;
}
.home-print h2{
	font-size:12px;
}
}

@media only screen and (min-width:428px){
#click:checked ~.nav-items{
	transform:translateX(57%);
}
}

@media only screen and (min-width:434px){
#click:checked ~.nav-items{
	transform:translateX(57%);
	
}
}

@media only screen and (min-width:440px){
#click:checked ~.nav-items{
	transform:translateX(57%);
	
}
}

@media only screen and (min-width:446px){
#click:checked ~.nav-items{
	transform:translateX(57%);
	
}
}

@media only screen and (min-width:452px){
#click:checked ~.nav-items{
	transform:translateX(57%);
	
}
}

@media only screen and (min-width:458px){
#click:checked ~.nav-items{
	transform:translateX(57%);
	
}
}

@media only screen and (min-width:464px){
#click:checked ~.nav-items{
	transform:translateX(57%);
	
}
}

@media only screen and (min-width:470px){
#click:checked ~.nav-items{
	transform:translateX(57%);
	
}
}

@media only screen and (min-width:476px){
#click:checked ~.nav-items{
	transform:translateX(57%);
	
}
}

@media only screen and (min-width:482px){
#click:checked ~.nav-items{
	transform:translateX(57%);
	
}
}

@media only screen and (min-width:488px){
#click:checked ~.nav-items{
	transform:translateX(57%);
	
}
}

@media only screen and (min-width:494px){
#click:checked ~.nav-items{
	transform:translateX(57%);
	
}
}

@media only screen and (min-width:500px){
#click:checked ~.nav-items{
	transform:translateX(57%);
	
}
}

@media only screen and (min-width:506px){
#click:checked ~.nav-items{
	transform:translateX(57%);
	
}
}

@media only screen and (min-width:512px){
#click:checked ~.nav-items{
	transform:translateX(57%);
	
}
}

@media only screen and (min-width:518px){
#click:checked ~.nav-items{
	transform:translateX(57%);
}
.Packages img{
	    width: 19rem;
    height: 25rem;
}
}

@media only screen and (min-width:524px){
#click:checked ~.nav-items{
	transform:translateX(57%);
}
.home-print{
	left:31dvw;
}
}

@media only screen and (min-width:530px){
#click:checked ~.nav-items{
	transform:translateX(57%);
	
}
}

@media only screen and (min-width:536px){
#click:checked ~.nav-items{
	transform:translateX(57%);
	
}
}

@media only screen and (min-width:542px){
#click:checked ~.nav-items{
	transform:translateX(57%);
	
}
}

@media only screen and (min-width:548px){
#click:checked ~.nav-items{
	transform:translateX(57%);
	
}
}

@media only screen and (min-width:554px){
#click:checked ~.nav-items{
	transform:translateX(57%);
	
}
}

@media only screen and (min-width:560px){
#click:checked ~.nav-items{
	transform:translateX(57%);
}	
}

@media only screen and (min-width:566px){
#click:checked ~.nav-items{
	transform:translateX(57%);
}	
}

@media only screen and (min-width:572px){
#click:checked ~.nav-items{
	transform:translateX(57%);
}	
}

@media only screen and (min-width:578px){
#click:checked ~.nav-items{
	transform:translateX(57%);
}	
}

@media only screen and (min-width:584px){
#click:checked ~.nav-items{
	transform:translateX(57%);
}	
}

@media only screen and (min-width:590px){
#click:checked ~.nav-items{
	transform:translateX(57%);
}	
}

@media only screen and (min-width:596px){
#click:checked ~.nav-items{
	transform:translateX(57%);
}	
.Packages img{
	width: 20rem;
    height: 26rem;
}
}

@media only screen and (min-width:602px){
#click:checked ~.nav-items{
	transform:translateX(57%);
}	
}

@media only screen and (min-width:608px){
#click:checked ~.nav-items{
	transform:translateX(57%);
}	
}

@media only screen and (min-width:614px){
#click:checked ~.nav-items{
	transform:translateX(57%);
}	
}

@media only screen and (min-width:620px){
#click:checked ~.nav-items{
	transform:translateX(57%);
}	
}

@media only screen and (min-width:626px){
#click:checked ~.nav-items{
	transform:translateX(57%);
}

.all-about h1 {
    margin: 0px 38dvw;
}
}

@media only screen and (min-width:632px){
#click:checked ~.nav-items{
	transform:translateX(57%);
}	
}

@media only screen and (min-width:638px){
#click:checked ~.nav-items{
	transform:translateX(57%);
}	
}

@media only screen and (min-width:644px){
#click:checked ~.nav-items{
	transform:translateX(57%);
}	
}

@media only screen and (min-width:650px){
#click:checked ~.nav-items{
	transform:translateX(57%);
}	
}

@media only screen and (min-width:656px){
#click:checked ~.nav-items{
	transform:translateX(57%);
}	
}

@media only screen and (min-width:662px){
#click:checked ~.nav-items{
	transform:translateX(57%);
}	
}

@media only screen and (min-width:668px){
#click:checked ~.nav-items{
	transform:translateX(57%);
}	
}

@media only screen and (min-width:674px){
#click:checked ~.nav-items{
	transform:translateX(57%);
}	
}

@media only screen and (min-width:680px){
#click:checked ~.nav-items{
	transform:translateX(57%);
}	
}

@media only screen and (min-width:686px){
#click:checked ~.nav-items{
	transform:translateX(57%);
}	
}
@media only screen and (min-width:692px){
#click:checked ~.nav-items{
	transform:translateX(57%);
}	
}
@media only screen and (min-width:698px){
#click:checked ~.nav-items{
	transform:translateX(57%);
}	
}
@media only screen and (min-width:704px){
#click:checked ~.nav-items{
	transform:translateX(57%);
}	
}
@media only screen and (min-width:710px){
#click:checked ~.nav-items{
	transform:translateX(57%);
}	
}
@media only screen and (min-width:716px){
#click:checked ~.nav-items{
	transform:translateX(57%);
}	
}
@media only screen and (min-width:722px){
#click:checked ~.nav-items{
	transform:translateX(57%);
}	
}
@media only screen and (min-width:728px){
#click:checked ~.nav-items{
	transform:translateX(57%);
}	
}
@media only screen and (min-width:734px){
#click:checked ~.nav-items{
	transform:translateX(57%);
}	
}

@media only screen and (min-width:740px){
#click:checked ~.nav-items{
	transform:translateX(57%);
}	
}
@media only screen and (min-width:746px){
#click:checked ~.nav-items{
	transform:translateX(57%);
}	
}
@media only screen and (min-width:752px){
#click:checked ~.nav-items{
	transform:translateX(57%);
}	
}
@media only screen and (min-width:758px){
#click:checked ~.nav-items{
	transform:translateX(57%);
}	
}
@media only screen and (min-width:764px){
#click:checked ~.nav-items{
	transform:translateX(57%);
}	
}
@media only screen and (min-width:768px){
#click:checked ~.nav-items{
	transform:translateX(57%);
}
.paras{
	margin:0px 111px;
}
.Packages img{
	    width: 25rem;
    height: 35rem;
}
.small-details{
	padding:15px 100px;
}
.para-for-contact-us{
	    margin: 20px 8rem;
}
.para-for-contact-us p{
	font-size:1.25rem;
}
.all-about p{
	font-size:1.1rem;	
}
.small-details p{
	font-size:1.1rem;
}
}
@media only screen and (min-width:770px){
#click:checked ~.nav-items{
	transform:translateX(57%);
}	
}
}