/******************************************
        RESPONSIVE <CODE> FOR SMALL DEVICES
******************************************/

@media only screen and (max-width:425px){
*{
	margin:0px;
	padding:0px;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	box-sizing:border-box;
}
	
html{
	scroll-behavior:smooth;
}



.anchor{
	color:white;
	padding:0px 1px;
	font-size:10px;
	}
	
 .background-image{
	position:absolute;
	top:0px;
	bottom:290px;
	z-index:-1;
	width:98.5vw;
	height:45vh;
}

.main-home-print{
	width:98.5vw;
	height:45vh;
}

	
.nav-items{
	border:2px solid black;
	border-radius:8px;
	position:relative;
	background-color:green;
    top:7.1rem;
    left: 35vw;
    height: 12rem;
    width: 7rem;
	transform:translateX(155%);
	opacity:0;
	transition:all 0.5s ease-out;

}


#click:checked ~.nav-items{
	transform:translateX(0%);
	opacity:1;
}

.input{
	position:absolute;
	left:-5rem;
}



.nav-list{
    position: relative;
    top: 0.7rem;
	left:0.7rem;
	display:flex;
    flex-direction:column;
  padding:7px 0px;
}

.nav-list li{
	padding: 6px 1rem;
}

ul.nav-items{
	right:-100%;
}

.navbar{
	scroll-padding:1rem ,0,0,0;
	width:99.5vw;
	height:6vh;
	
}
.mobile-navbar-btn{
    position: absolute;
    left: 90vw;
	z-index:999;
    display:block;
	/*padding-left:122px;*/
}


.mobile-navbar-icon{
    color:white;
	width:1rem;
	height:1rem;
}





.nav-logo{
	padding:0px 10px;
}
.nav-logo img{
	border:2px solid black;
	width:20px;
    height:20px;
	border-radius:19px;
}

.nav-logo p{
	z-index:-1;
	padding:0px 0px;
	width:45px;
	font-weight:bold;
	font-size:12px;
	font-family:Cooper;
	color:rgb(7, 199, 4);
}

.home-print img:nth-child(1){
	z-index:-1;
	border:2px solid black;
	border-radius:50px;
	width:40px;
	height:40px;
}

.home-print{
	font-size:12px;
    position:absolute;
    left: 23dvw;
    top: 19dvh;
	display:flex;
	justify-content:center;
	align-items:center;
}

.home-print h1{
	font-size: 9.95px;
    padding: 0px 2px;
}

.paras{
	margin:0px 30px 0px 30px;
	font-size:12px;
}

.all-about h2{
	
	position:relative;
	margin:1rem 0px;
	padding:3px 2rem;
	z-index:-1;
	font-size:16px;
}

.all-about h2:after{
	position:absolute;
	top:1.4rem;
	width:10rem;
	height:2px;
	left:1rem;
}

.padding{
   margin:0px;
   padding:0px;
}

.all-about h1{
	height:2rem;
    width: 8rem;
    font-size: 20px;
    margin:0px 30vw;
}



.small-details ol{
  list-style-type:square;
}

.small-details h3{
	padding:1rem;
	font-size:16px;
}

.small-details p{
	font-size:14px;
}

.Packages img{
	margin:1px;
   width:16rem;
   height:22rem;
}

.para-for-contact-us{
	    margin: 20px 8rem;
}

.para-for-contact-us p{
	font-size:14px;
}

.para-for-contact-us h3{
	font-size:14px;
}

.para-for-contact-us img{
	width:3rem;
	height:3rem;
	border-radius:2rem;
}
}
/*********************************
      End of media query
*********************************/


/*********************************
     For >425px 
**********************************/
@media only screen and (max-width:721px){
	
*{
	margin:0px;
	padding:0px;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	box-sizing:border-box;
}
	
html{
	scroll-behavior:smooth;
}



.anchor{
	color:white;
	padding:0px 1px;
	font-size:10px;
	}
	
 .background-image{
	position:absolute;
	top:0px;
	bottom:290px;
	z-index:-1;
	width:98.5vw;
	height:45vh;
}

.main-home-print{
	width:98.5vw;
	height:45vh;
}

	
.nav-items{
	border:2px solid black;
	border-radius:8px;
	position:relative;
	background-color:green;
    top:7.1rem;
    left: 35vw;
    height: 12rem;
    width: 7rem;
	transform:translateX(155%);
	opacity:0;
	transition:all 0.5s ease-out;

}


#click:checked ~.nav-items{
	transform:translateX(0%);
	opacity:1;
}

.input{
	position:absolute;
	left:-5rem;
}



.nav-list{
    position: relative;
    top: 0.7rem;
	left:0.7rem;
	display:flex;
    flex-direction:column;
  padding:7px 0px;
}

.nav-list li{
	padding: 6px 1rem;
}

ul.nav-items{
	right:-100%;
}

.navbar{
	scroll-padding:1rem ,0,0,0;
	width:99.5vw;
	height:6vh;
	
}
.mobile-navbar-btn{
    position: absolute;
    left: 90vw;
	z-index:999;
    display:block;
	/*padding-left:122px;*/
}


.mobile-navbar-icon{
    color:white;
	width:1rem;
	height:1rem;
}





.nav-logo{
	padding:0px 10px;
}
.nav-logo img{
	border:2px solid black;
	width:20px;
    height:20px;
	border-radius:19px;
}

.nav-logo p{
	z-index:-1;
	padding:0px 0px;
	width:45px;
	font-weight:bold;
	font-size:12px;
	font-family:Cooper;
	color:rgb(7, 199, 4);
}

.home-print img:nth-child(1){
	z-index:-1;
	border:2px solid black;
	border-radius:50px;
	width:40px;
	height:40px;
}

.home-print{
	font-size:12px;
    position:absolute;
	left: 26vw;
    top: 19vh;
	display:flex;
	justify-content:center;
	align-items:center;
}

.home-print h1{
	font-size: 9.95px;
    padding: 0px 2px;
}

.paras{
	margin:0px 30px 0px 30px;
	font-size:12px;
}

.all-about h2{
	
	position:relative;
	margin:1rem 0px;
	padding:3px 2rem;
	z-index:-1;
	font-size:16px;
}

.all-about h2:after{
	position:absolute;
	top:1.4rem;
	width:10rem;
	height:2px;
	left:1rem;
}

.padding{
   margin:0px;
   padding:0px;
}

.all-about h1{
	height:2rem;
    width: 8rem;
    font-size: 20px;
    
}



.small-details ol{
  list-style-type:square;
}

.small-details h3{
	padding:1rem;
	font-size:16px;
}

.small-details p{
	font-size:14px;
}

.Packages img{
	margin:1px;
   width:16rem;
   height:22rem;
}

.para-for-contact-us{
	margin:20px 3rem;
}

.para-for-contact-us p{
	font-size:14px;
}

.para-for-contact-us h3{
	font-size:14px;
}

.para-for-contact-us img{
	width:3rem;
	height:3rem;
	border-radius:2rem;
}
}
}

/**********************************
     For >630px
***********************************/


