/******************************************
        RESPONSIVE <CODE> FOR SMALL DEVICES
******************************************/

@media only screen and (max-width:320px){
	*{
		margin:0px;
		padding:0px;
	}
.anchor{
	
		color:white;
		padding:0px 1px;
		font-size:10px;
	}
 .background-image{
	position:absolute;
	top:0px;
	bottom:290px;
	z-index:-1;
	width:99.5vw;
	height:200px;
}

.main-home-print{
	width:99.5vw;
	height:200px;
}

.nav-items{
	border:2px solid black;
	border-radius:8px;
	position:relative;
	background-color:green;
    top:6.9rem;
    left: 8.6rem;
    height: 12rem;
    width: 7rem;
	transform:translateX(100%);
	transition:all 0.5s linear;
}

.openNav-items{
	transform:translateX(0);
	opacity:1;
	visibility:visible;
	pointer-events:auto;
}

.active,.mobile-navbar-icon[name="close"]{
	display:block;
}

.active,.mobile-navbar-icon[name="menu"]{
	
}
.nav-list{
    position: relative;
    top: 0.7rem;
	left:0.7rem;
	display:flex;
    flex-direction:column;
  padding:7px 0px;
}

.nav-list li{
	padding: 6px 1rem;
}

.navbar{
	width:99.5vw;
	height:20px;
	
}
.mobile-navbar-btn{
    position: absolute;
    left: 18rem;
	z-index:999;
    display:block;
	/*padding-left:122px;*/
}
.mobile-navbar-icon{
    color:white;
	width:1rem;
	height:1rem;
}

.mobile-navbar-icon2{
	display:block;
	border:2xp solid white;
	border-radius:2rem;
	position:relative;
	left:5.77rem;
	top:0.5rem;
	color:white;
	width:1rem;
	height:1rem;
}
.mobile-navbar-icon[name="close"]{
}


.nav-logo{
	padding:0px 0px;
}
.nav-logo img{
	border:2px solid black;
	width:19px;
    height:19px;
	border-radius:19px;
}

.nav-logo p{
	z-index:-1;
	padding:0px 0px;
	width:40px;
	font-weight:bold;
	font-size:10px;
	font-family:Cooper;
	color:rgb(7, 199, 4);
}

.home-print img:nth-child(1){
	z-index:-1;
	border:2px solid black;
	border-radius:50px;
	width:40px;
	height:40px;
}

.home-print{
	font-size:12px;
    position:absolute;
	left:43px;
	top:84px;
	display:flex;
	justify-content:center;
	align-items:center;
}

.home-print h2{
	font-size: 9.95px;
    padding: 0px 2px;
}

.paras{
	margin:0px 30px 0px 30px;
	font-size:12px;
}

.all-about h2{
	z-index:-1;
	font-size:16px;
}

} /*end of media query*/