*{
	margin:0;
	padding:0;
}

html{
	scroll-behavior:smooth;
}

.navbar{
	position:absolute;
	left:25px;
	display:flex;
	align-items:center;
	justify-content:center;
	background-color:rgb(66, 63, 54);
	position:fixed;
	height:60px;
	width:1230px;
	border:2px solid black;
	border-radius:60px;
	padding:19px;
}


.nav-list{
	
	display:flex;
	align-items:center;
	justify-content:space-evenly;
	padding:20px;
	
	
}

.nav-list li{
	list-style:none;
	padding:8px;
	font-size:17px;
	
	
	
}

.nav-list a{
	color:white;
	
	transition:0.3 sec;
	text-decoration:none;
	padding:60px;
}

.nav-list a:hover{
	color:rgb(25, 219, 230);
	
}

.logo img{
	border:2px solid green;
	border-radius:28px;
	width:65px;
	height:65px;
	position:absolute;
	left:130px;
	top:17px;
}

.para{
	display:flex;
	align-items:center;
	justify-content:center;
}