*{
	margin:0;
	padding:0;
}

html{
	scroll-behavior:smooth;
}

.navbar{

	position:absolute;
	left:99px;
	display:flex;
	align-items:center;
	justify-content:center;
	background-color:rgb(0,0,0,0.8);
	position:fixed;
	height:60px;
	width:1100px;
	border:2px solid rgb(0,0,0,0.2);
	border-radius:60px;
	padding:19px;
}



.nav-list{
	position:absolute;
	left:200px;
	bottom:6px;
	display:flex;
	align-items:center;
	justify-content:space-evenly;
	padding:20px;
	
	
}

.nav-list li{
	
	list-style:none;
	padding:1px;
	font-size:px;
	font-family:sans-serif;
	
	
	
}

.nav-list a{
	color:white;
	text-decoration:none;
    padding:30px;
    	
}





.nav-list button{
	font-size:17px;
	background-color:rgb(0,0,0,0.1);
	border:2px solid rgb(0,0,0,0.1);
	border-radius:20px;
	padding:7px;
	transition:10 sec;
}
.nav-list button:hover{
	color:white;
	background-color:rgb(16, 191, 10);
	border:2px solid black;
	
}
.logo img{
	border:2px solid green;
	border-radius:28px;
	width:65px;
	height:65px;
	position:absolute;
	left:40px;
	top:17px;
}

.para{
	display:flex;
	align-items:center;
	justify-content:center;
}

.h2{
	position:absolute;
	bottom:34px;
	left:129px;
	font-family:Cooper;
	color:rgb(7, 199, 4);
}

.home-image{
	z-index:-1;
	position:absolute;
	bottom:2px;
	top:2px;
	left:px;
	width:1343px;
	height:655px;
}

.bg-of-text{
	z-index:-1;
	position:absolute;
	bottom:2px;
	top:2px;
	left:px;
	background-color:rgb(0,0,0,0.6);
	width:1343px;
	height:655px;
}
.h2-of-home{
	position:absolute;
	bottom: 290px;
    left: 551px;
	color:rgb(7, 199, 4);
	font-family:Cooper;
}

.image-text{
	position:absolute;
	bottom:259px;
	left:419px;
    border:2px solid black;
	border-radius:50px;
	width:95px;
	height:95px;
}

.All-details{
	display:flex;
	justify-content:center;
	align-items:center;
	padding:80px;
	
}
.about{
	position:absolute;
	top:830px;
	padding:20px;
}

.about h2{
	text-align:center;
	position:relative;
		margin:50px;
}

.about h2::after{
	content:"";
	position:absolute;
	display:block;
	left:1px;
	top:30px;
	width:20%;
	height:2px;
	background-color: black;
}
.Our-mission{
	position:absolute;
	top:220px;
	padding:20px;
}

.Our-mission h2{
	padding:20px;
}
.Why-choose-us{
	position:absolute;
	top:400px;
	padding:20px;
}

.Why-choose-us h2{
	padding:20px;
}

.what-sets-us-apart{
	position:absolute;
    top:630px;
	left:550px;
}

.what-sets-us-apart h2{
	position:relative;
}
	
}
.what-sets-us-apart h2::after{
	content:"";
	position:absolute;
	display:block;
	left:1px;
	top:80px;
	width:60%;
	height:2px;
	background-color: black;
}
.small-details{
	position:absolute;
	top:720px;
	padding: 15px 35px;
	
}

.small-details h3{
	padding:14px;
}

.small-details p{
	padding:8px;
}

